
.navbar_links_container {
    display: flex;
    justify-content: first flex-end;
    align-items: center;
    margin: 1rem 4rem;
    


}

.link {
    margin-left: 4rem;
    font-weight: 400;
    font-size: 24px;
    color: #FAF8FF;
}





.active {
    font-weight: 700;
}

.logo {
    font-size: 48px;
    font-weight: 600;
    margin-left: 0;
    color: #FAF8FF;

}

.toggle_menu {
    display: none;
}



@media screen and (max-width: 800px) {
    .toggle_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 1rem;
    }

    .navbar_links_container {
        display: none;
    }

    .menu_links {
        min-height: 100vh;
        align-self: center;
        justify-content: center;
    }

    .link {
        margin: 5rem 0rem;
        justify-self: center;
        align-self: center;
        
        
        
    }
    
}